* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  height: 100vh;

  .key-register {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: lightskyblue;

    header {
      background-color: unset;
    }

    main {
      // border: 3px solid red;
      height: 100%;
      display: flex;
      flex-direction: column;

      .tabs {
        display: flex;
        flex-direction: column;
        // border: 3px solid green;
        height: 100%;
        // padding: 3px;
      }
    }

    footer {
      // border: 3px solid red;
      color: white;
      text-align: center;
      font-size: 0.75rem;
      margin-top: auto;
      margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }
  }
}

.developer {
  background-color: black;
  padding: 0.5rem 0;

  a {
    color: #ffc66d;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  span {
    text-transform: uppercase;
  }
}