.icon-bar {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;

    h4 {
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .icon {
            font-size: 24px;
            padding: 4px;
            cursor: pointer;
            transition: all 150ms ease-in;

            &:hover {
                background-color: black;
                color: white;
            }

            &.dots-icon:hover {
                background-color: rgb(180, 180, 180);
                color: white;
            }
        }

        .indicator-icon {
            color: gray;
        }
    }

    .bar-body {
        padding: 4px;
    }
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    div {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 2rem;

        .search-icon {
            z-index: 100;
            color: gray;
            margin-right: -2rem;
            cursor: text;
        }

        input {
            width: 100%;
            padding: 0.5rem 3rem;
            border: none;
            outline: none;
            font-size: 1.15rem;
            border-radius: 3px;
        }

        .add-icon {
            background-color: green;
            border-radius: 50%;
            color: white;
            box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.3);
            margin-left: -3.5rem;
            width: 3.15rem;
            height: 3.15rem;
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}

.icon-bar-edit,
.icon-bar-add {
    background-color: unset;

    .bar-body {
        background-color: lightgreen;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 3px;
        pointer-events: none;
        opacity: 0;
        transition: all 150ms ease-in-out;
    }

    .body-on {
        pointer-events: unset;
        opacity: 1;
    }
}

.icon-bar-add {
    .bar-body {
        align-items: center;
        padding-bottom: 8px;
    }
}