.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &.delete-modal {
        .modal-container {
            .modal-head {
                background-color: red;
            }
        }
    }

    &.add-modal {
        .modal-container {
            .modal-head {
                background-color: green;
            }
        }
    }

    .modal-container {
        background-color: white;
        border-radius: 10px 10px 8px 8px;
        width: 400px;
        max-width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.3s ease-in-out;

        .modal-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: rgb(39, 126, 253);
            border-radius: 8px 8px 0 0;

            h2 {
                margin: 0;
                font-size: 1.5rem;
                color: white;
                font-weight: 500;
                text-transform: capitalize;
            }

            .icon {
                cursor: pointer;
                font-size: 1.5rem;
                color: rgb(202, 202, 202);
                transition: color 0.15s;

                &:hover {
                    color: white;
                }
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 20px;
            padding: 0 1rem;

            label {
                font-weight: 500;
            }

            input,
            select {
                width: 100%;
                padding: 10px;
                border: 1px solid rgb(230, 230, 230);
                border-radius: 4px;
                font-size: 1rem;
                outline: none;


                &:focus {
                    box-shadow: 0 0 5px rgb(39, 126, 253);
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            padding: 1rem;
            border-top: 1px solid rgb(220, 220, 220);

            .btn {
                display: inline-block;
                padding: 8px 15px;
                font-size: 0.9rem;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.15s, color 0.15s, transform 0.15s;
                cursor: pointer;
                user-select: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                background-color: white;
                color: rgb(50, 50, 50);
                border: 1px solid rgb(50, 50, 50);

                &:hover {
                    background-color: rgb(39, 126, 253);
                    border-color: rgb(39, 126, 253);
                    color: white;
                }
            }
        }
    }
}