.table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    //border-right: 1px solid lightgray;
    padding: 1rem 1rem 0;

    thead {
        //border-bottom: 2px solid rgb(117, 117, 117);
        background-color: lightgreen;
        margin-bottom: 3px;
        padding: 0.5rem 0;

        tr {
            display: flex;
            padding-right: 0.5rem;
            align-items: center;

            th {
                display: flex;
                align-items: center;
                text-align: left;
                padding-left: 5px;
                user-select: none;
                width: 110px;

                .icon {
                    position: relative;
                    top: 2px;
                }
            }

            .th-edit {
                width: unset;
                //visibility: hidden;
            }
        }
    }

    tbody {
        tr {
            //border-bottom: 1px solid rgb(193, 193, 193);
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 0.5rem;
            background-color: white;
            margin-bottom: 3px;
            font-size: 0.8rem;


            // &:hover {
            //     background-color: rgb(236, 234, 150);
            // }

            td {
                //padding: 0.5rem 0;
                width: 110px;
                min-width: 110px;
                display: flex;
                padding-left: 5px;
            }

            .td-edit {
                //width: unset;
                position: relative;
                //margin-left: -32px;
                margin-left: auto;
                background-color: transparent;
            }
        }
    }

    .no-result {
        text-align: center;
        padding: 10px;
        font-style: italic;
        color: #888;
    }
}